@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Karla';
        font-style: normal;
        font-weight: 400;
        src: url('./assets/fonts/static/Karla-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        src: url('./assets/fonts/static/Karla-Bold.ttf') format('truetype');
    }

    html {
        font-family: 'Karla', sans-serif;
        font-size: 16px;
    }
}